@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
  .pixelated {
    image-rendering: pixelated;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}